
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
  }
  



  .container {
    position: relative;
    width: 40%;
    height: 70%;
    margin-bottom: 190px;
  }
.container-nav{

display: block;
position: relative;
margin-left: 1%;
text-align: center;
}

.container-nav .logo {

margin-left: 15px;

}
.nav-links{

  font-weight: bold;

  text-decoration: none;
  margin: 0px;
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none; 
}




  .overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgb(255, 241, 196); /
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;
    height: 80%;
  }


.overlay2{

  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgb(255, 241, 196); /
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1;
height: 40%;
}




  .boxtext{
display: flex;
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    background-color: #E3D6AF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;

  }

  /* Container principal */
.containerinner {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

/* Imagem de fundo */
.background-image {
    width: 100%;

    height: 90%;
    object-fit: cover;
}


/* Sobreposição do formulário */
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 241, 196, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
}

/* Formulário */
#formInteracao {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 400px;
}

/* Área de texto */
#textarea-custom {
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-top: 35px; /* Ajuste para centralizar verticalmente */
    margin-bottom: 15px; /* Espaço entre a área de texto e o botão */
    background-color: #E3D6AF;
    border: none;
    border-radius: 4px;
    resize: none;
    outline: none;
    text-align: center;
}

/* Botão */
#formInteracao button {
    padding: 10px;
    background-color: #D3B482;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}





/* 
SEGUNDA PÁGINA */
.containersobre{
display: block;

position: relative;
margin-right: 700px;

}

.all {
    display: flex;
    justify-content: space-between;
}

.racas {
    width: 48%; /* Ajusta a largura para ocupar metade do espaço */
}

.racas ul{

  list-style: none;
  
  }

.racaobj {
    background-color: #f2f2f2; /* Exemplo de estilo para os objetos */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}